[user]
	name = Rahul Yedida
	email = yrahul3910@gmail.com
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[alias]
	b = branch

	c = checkout
	d = diff
	l = log --oneline
	p = push
	pu = !git pull $(git remote) $(git branch --show-current)
	n = switch -c
	rs = restore --staged
	s = status
	sp = stash push
	spo = stash pop
	ss = stash push -S
	unfck = reset --hard HEAD

[delta]
	side-by-side = true

[diff]
	algorithm = histogram

[commit]
	verbose = true

[core]
	autocrlf = false

[gc]
	pruneexpire = now

[grep]
	linenumber = true

[help]
	autocorrect = prompt

[merge]
	conflictstyle = diff3
	autostash = true

[pull]
	rebase = true

[push]
	autosetupremote = true
	default = simple

[rebase]
	autostash = true

[rerere]
	autosquash = true
	enabled = true
	autoupdate = true

