[user]
	name = Rahul Yedida
	email = yedidar@legal.regn.net
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[alias]
	bl = branch-list

	c = checkout
	d = diff
	l = log --oneline
	p = push
	n = switch -c
	rs = restore --staged
	ss = stash push -S
	unfck = reset --hard HEAD

[diff]
	algorithm = histogram

[commit]
	verbose = true

[core]
	autocrlf = false

[diff]
	algorithm = histogram

[gc]
	pruneexpire = now

[grep]
	linenumber = true

[help]
	autocorrect = prompt

[merge]
	conflictstyle = diff3
	autostash = true

[pull]
	rebase = true

[push]
	autosetupremote = true
	default = simple

[rebase]
	autostash = true

[rerere]
	autosquash = true
	enabled = true
	autoupdate = true

