model_provider = "anthropic"
embedding_provider = "voyageai"
reranker_provider = "voyageai"
max_concurrent_requests = 5
max_retries = 3

[anthropic]
model = "claude-sonnet-4-5"
api_key = ""
max_tokens = 64000

[openai]
model = "gpt-5.2-2025-12-11"
max_tokens = 8192
embedding_model = "text-embedding-3-large"
embedding_dims = 1536

[gemini]
model = "gemini-2.5-pro"
embedding_model = "gemini-embedding-001"
embedding_dims = 3072

[voyageai]
reranker = "rerank-2.5"
embedding_model = "voyage-3-large"
embedding_dims = 2048
api_key = ""

[cohere]
reranker = "rerank-v3.5"
embedding_model = "embed-v4.0"
embedding_dims = 1536

[openrouter]
model = "anthropic/claude-sonnet-4.5"
